<div id="container">
  <app-aboutme></app-aboutme>
  <div id="content">
    <section id="articles">
      <h2>Ostatnie</h2>
      <ul>
        <li><a href="https://blog.mrcwojcik.pl/2020-2/">2020</a></li>
      </ul>
      <a href="http://blog.mrcwojcik.pl" class="more">Więcej na blogu ></a>
    </section>
    <section id="projekty">
      <ul>
        <li><a href="sub/projekty.html">Projekty</a></li>
        <li><a href="sub/programowanie.html">Nauka programowania</a></li>
        <li><a href="sub/dreams.html">Lista marzeń</a></li>
      </ul>
    </section>
    <section id="misc">
      <h2>Misc</h2>
      <ul>
        <li><a href="https://github.com/mrcwojcik">Mój kod: Github</a></li>
        <li><a href="https://www.torn.com/2514502">Torn [ref]</a></li>
      </ul>
    </section>
  </div>
</div>
